* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  .main{
    width: 100%;
    height: 100%;
    position: relative;
    
  }
  .nav{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
  }
  .nav .left p{
      display: flex;
      font-family: calistoga;
      font-size: 1.5rem;
      color: #292D32;
  
  }
  .nav .left{
    display: flex;
  }
  .nav .left i.ri-bookmark-3-line{
    color: crimson;
  }
  /*.nav .left i.ri-bookmark-3-line:hover{
    color: crimson;
    cursor: pointer;
  }*/
  .nav .right{
      display: flex;
      gap: 15px;
      cursor: pointer;
      align-items: center;
  }
  .nav .right h3{
      font-size: 1.3rem;
      font-family: alice;
      color: #292D32;
  
  }
  .nav .right h3 a{
    text-decoration: none;
    color: #292D32;
  }
  .nav .right h3 a:hover{
      color: crimson;
  }
  .nav .right i{
      font-size: 1.3rem;
      margin-right: 0;
  }
  .nav .right i:hover{
    color: crimson;
  }
  .nav .right i.ri-menu-5-line{
      display: none;
  }
  @media(max-width:600px){
    .nav .right h3{
      display: none;
    }
    .nav .right i.ri-menu-5-line{
          display: block;
    }
  
}